@model LoginUser
        <!-- LOGIN AREA -->
<div class="login-area mx-auto">
    <h3>Login to your account</h3>
    <form class="card mx-auto col-7" action="/login" method="POST">
        <div class="form-group row">
            <label asp-for="LoginEmail" class="col-sm-3 col-form-label">Email</label>
            <div class="col-sm-9">
                <input type="email" class="form-control" id="LoginEmail" name="LoginEmail">
                <span class="text-danger" asp-validation-for="LoginEmail"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="LoginPassword" class="col-sm-3 col-form-label">Password</label>
            <div class="col-sm-9">
                <input type="password" class="form-control" id="LoginPassword" asp-for="LoginPassword">
                <span class="text-danger" asp-validation-for="LoginPassword"></span>
            </div>
        </div>
        <button class="btn btn-outline-primary btn-block" type="sumbit" name="which_form" value="login">Login</button>
        <a class="btn btn-outline-dark" href="/">Register</a>
    </form>

</div>
