<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Gossip Wall</title>
</head>

<body class="wall_body">

    <!-- HEADER SECTION -->

    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <a class="navbar-brand ml-5" href="/dashboard">
                <h2 class="text-white">The Great Gossip Wall</h2>
            </a>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse mr-5">
                <ul class="headNew navbar-nav align-items-center">
                    <a class=" btn btn-light logoutbtn " href="/logout">Logout</a>
                </ul>
            </div>
    </nav>

    <!-- <div class="header_sec">
        <h1 class="block1">The Great Gossip Wall</h1>
        <a class="block3 btn btn-outline-light" href="/logout">Log Out</a>
    </div> -->
    <!-- POST MESSAGE SECTION -->
    <div class="wall_page">

        <div class="post_sec">
            <h6>Welcome {{user.first_name}}</h6>
            <form action="/message" method="POST">
                {% csrf_token %}
                <input type="text" placeholder="Post a message" name="message_form" class="post_area form-control">
                <button type="submit" class="post_btn btn btn-block btn-light" name="which_form" value={{user.id}}>Post
                    a message</button>
            </form>
        </div>

        <!-- MESSAGE SECTION -->

        <div class="message_sec">
            <!-- FOR LOOP1 -->
            <div>
                {%for msg in msg%}
                <div class="feed_group">
                    <h6 class="mb-0">{{msg.user.first_name}} {{msg.user.last_name}}<a
                            href="/delete/{{msg.id}}/{{msg.user.id}}/msg" class="delete float-right btn-dark">Delete
                            message</a>
                    </h6>
                    <small>{{msg.created_at}}</small>
                    <p>{{msg.message}}</p>
                    {%for cmt in cmt%}
                    {% if cmt.message.id == msg.id%}
                    <div class="comment_sec">
                        <h6 class="mb-0">{{cmt.user.first_name}} {{cmt.user.last_name}}
                            <a href="/delete/{{cmt.id}}/{{cmt.user.id}}/cmt" class="delete float-right ">Delete
                                comment
                            </a>
                        </h6>
                        <small>{{cmt.created_at}}</small>
                        <p class="cmt">{{cmt.comment}}</p>
                    </div>
                    {%endif%}
                    {%endfor%}
                    <div class="post_comment_sec">
                        <h4>Post a comment</h4>
                        <form action="/comment" method="POST">
                            {% csrf_token %}
                            <input type="text" name="comment_form" class="post_area form-control"></input>
                            <button type="submit" class=" post_btn btn btn-block btn-dark" name="which_form"
                                value={{msg.id}}>Post a comment</button>
                        </form>
                    </div>
                </div>
                {%endfor%}
            </div>

        </div>
    </div>
</body>

</html>