/************** LOGIN & REGISTRATION AREA **************/

.thebod {
    background-color: rgb(32, 32, 32);
}

.main_area {
    display: flex;
    justify-content: space-evenly;
    padding: 2em;
}

.sections {
    width: 50%;
    margin: 1em 1em 5em 2em;
    color: white;
    border: .1em rgba(127, 193, 255, 0.397) solid;
    -webkit-box-shadow: 13px 13px 7px -9px rgba(0, 0, 0, 0.75);
    border-radius: .3em;
    padding: .8em;
}

.sections2 {
    width: 50%;
    margin: 5em 2em 5em 1em;
    height: 33vh;
    color: white;
    border: .1em rgba(112, 174, 255, 0.397) solid;
    -webkit-box-shadow: 13px 13px 7px -9px rgba(0, 0, 0, 0.75);
    border-radius: .3em;
    padding: .8em;
}

h3 {
    text-align: center;
    padding-bottom: 1em;
}

.messages {
    color: white;
    padding: .8em;
    border: .1em rgba(246, 251, 255, 0.397) solid;
    text-align: center;
}

/************** WALL PAGE **************/

* {
    vertical-align: top;
}

.wall_body {
    margin: 0em;
    background-color:rgb(37, 37, 37);
    color: white;
}

.header_line {
    border-top: solid .1em white;
}

/******** HEADER ********/

.header_sec h1, .header_sec p {
    margin-bottom: 0em;
}

.header_sec {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.block1 {
    margin-left: 2em;
}

.block2 {
    margin-left: 42em;
}

.block3 {
    margin-right: 3em;
}



/******** POST MESSAGE ********/

.feed_group {
    border: .1em rgba(255, 255, 255, 0.795) solid;
    -webkit-box-shadow: 13px 13px 7px -9px rgba(0, 0, 0, 0.75);
    border-radius: .3em;
    padding: 2.3em 2em 0em 2em;
    margin-bottom: 1.5em;
}

.post_area {
    -webkit-box-shadow: 13px 13px 7px -9px rgba(0, 0, 0, 0.75);
}

.post_sec {
    padding: 1em 6em 3em 6em;
}

.post_btn {
    float: right;
    margin-top: .5em;
}

/******** MESSAGES ********/

.message_sec {
    padding: 2em 5em 0em 5em;
}

.message_sec h6 {
   margin-bottom: 0em;
}

.delete {
    color: black;
    margin-left: 1em;
    width: 3em;
    font-size: .6em;
    vertical-align: middle;
    padding: .3em;
    border-radius: .2em;
}

/******** COMMENTS ********/

.comment_sec {
    padding: 1em 2em 0em 2em;
}

.post_comment_sec {
    padding: 0em 0em 5em 2em;
}

.cmt {
    color: rgb(121, 121, 121);
}